report/*
/mini-grading/node_modules/*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/mini-grading/node_modules
/mini-grading/.pnp
/mini-grading/.pnp.js

# testing
/mini-grading/coverage

# production
/mini-grading/build

# misc
/mini-grading/.DS_Store
/mini-grading/.env.local
/mini-grading/.env.development.local
/mini-grading/.env.test.local
/mini-grading/.env.production.local

/mini-grading/npm-debug.log*
/mini-grading/yarn-debug.log*
/mini-grading/yarn-error.log*
